.network-container {
  width: 150px;
  height: 35px;
  /* border: solid 1px white; */
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.network {
  position: relative;
  bottom: 0px;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-position: center;
}

.network-box {
  transition: 0.15s ease-in-out;
  position: relative;
  bottom: 0px;
  width: 35px;
  border: solid 1px white;
  background-repeat: no-repeat;
  background-position: center;
}

.network-box:hover {
  transition: 0.15s ease-in-out;
  border: solid 1px #ff6600;
  bottom: 5px;
}

.network-box:hover * {
  transition: 0.15s ease-in-out;
  filter: invert(47%) sepia(17%) saturate(7493%) hue-rotate(0deg)
    brightness(99%) contrast(103%);
}

.facebook {
  background-image: url(../../images/facebook.png);
  background-size: 13px;
}

.linkedIn {
  background-image: url(../../images/LinkedIn.png);
  background-size: 20px;
}

.github {
  background-image: url(../../images/git_logo.png);
  background-size: 25px;
  background-position-y: 3px;
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
  .network-container {
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 0;
    /* margin-right: auto; */
  }

  .network-box {
    margin: 5px;
  }
}
