.nav-bar {
  position: fixed;
  width: 100%;
}

.nav-bar-list-light > li {
  display: inline;
  margin: 10px;
  font-weight: 500;
  color: rgb(18, 15, 19);
  list-style: none;
  border-bottom: 1px solid transparent;
  padding-bottom: 5px;
  transition: 0.25s ease-in-out;
}

.nav-bar-list-dark > li {
  display: inline;
  margin: 10px;
  font-weight: 500;
  color: #e7ecef;
  list-style: none;
  border-bottom: 1px solid transparent;
  padding-bottom: 5px;
  transition: 0.25s ease-in-out;
}

.nav-bar-list-dark > li:hover {
  border-bottom: 1px solid #e7ecef;
}

.nav-bar-list-light > li:hover {
  border-bottom: 1px solid rgb(18, 15, 19);
}
